<div class="step-content <%= 'is-active' if @step == 1 %>">
  <div class="field">
    <label class="label">Design Title</label>
    <%= f.text_field :title, autocomplete: "title", class: "input" %>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="select">
      <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }, selected: @design.category_id)) %>
    </div>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :has_single_pricing, class: "checkbox", onchange: "this.form.submit();" %> Has Single Price
    </label>
  </div>
</div>
